<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='../vue.js'></script>
    <title>扫地小孩专属模板</title>
</head>

<body>
    <div id='app'>
        <!--
            v-for:通过循环数组,多次创建并渲染当前元素块,创建次数为数组长度.
            语法: v-for="元素 in 数组"
        -->
            <div class="row" v-for="item in list">
               <div>hello</div>
            </div>
    </div>
    <script>
        Vue.config.productionTip = false;
        var vm = new Vue({
            el: '#app',
            data: {
               list:['a','b','c']
            },

        })
    </script>
</body>

</html>