<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>扫地小孩专属模板</title>
</head>
<body>
   <div>
      <!-- 第一种写法 -->
      <!-- 直接写属性名可以获取到属性值 -->
       <!-- <p>我叫{{name}}</p> -->
       <!-- <p>我今年{{age}}岁</p> -->
       <!-- 
          {{each 数组}}标签{{/each}} each语法会将包裹的标签进行循环添加在页面上 
          {{$value}}会将数组中的元素渲染到页面
         -->
       <!-- {{each hobbies}}<p>我喜欢{{$value}}</p>{{/each}} -->

       <!-- 第二种写法 -->
       <p>我叫<%= name %></p>
       <p>我今年<%= age %>岁</p>
       
       <% for(let i = 0;i<hobbies.length;i++){ %>
       <p>我喜欢<%= hobbies[i] %></p>
       <% } %>
       
   </div>
   <script>
      
   </script>
</body>
</html>