<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <script src='../vue.js'></script>
<title>扫地小孩专属模板</title>
</head>
<body>
   <div id='app'>
     <label>姓:</label><input v-model='firstname' type="text">
     <label>名:</label><input v-model='lastname' type="text">
     <div>全名:{{fullname()}}</div>
     <div>全名:{{fullname()}}</div>
     <div>全名:{{fullname()}}</div>
     <div>全名:{{fullname()}}</div>
   </div>
   <script>
      /* methods中的方法不存在缓存，执行一次运行一次，执行n次，运行n次 */
       Vue.config.productionTip=false;
       var vm = new Vue({
            el:'#app',
            data:{
               firstname:'',
               lastname:''
            },
            methods:{
               fullname(){
                 console.log('调用了fullname方法');
                 let fullnamestr = this.firstname +this.lastname;
                 return fullnamestr;
               }
            }
       })
   </script>
</body>
</html>