<!DOCTYPE html>
<html lang='en'>

<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>后台管理项目接口文档</title>
</head>

<body>
   <h2>接口文档</h2>
   <h4>
      所有接口都会返回code字段,code为1表示请求成功,code为0表示请求失败
      <br>
      msg字段表示请求成功或失败的信息,data是响应的数据
      <br>
      接口地址:http://127.0.0.1:3000
   </h4>
   <ul>
      <li>
		  接口地址:/api
		  请求方式:post
		  请求参数:name(必传)
	  </li>
   </ul>
   <script>

   </script>
</body>

</html>