<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>接口文档</title>
</head>
<body>
   <h2>接口文档</h2>
   <ul>
      <li>随机文本接口:/text 请求方式:get</li>
      <li>名人列表接口:/list 请求方式:get</li>
      <li>搜索接口:/search 请求方式:get 请求参数:keywords:搜索关键字</li>
      <li>柱形图接口:/bar 请求方式:get</li>
      <li>饼图接口:/pie 请求方式:get</li>
      <li>折线图接口:/line 请求方式:get</li>
   </ul>
   <script>
    
   </script>
</body>
</html>